#register-login-ico {
	margin-right: 5px;
}

html, body {
	height: 100%;
	/*height: 95.65%; hack to remove extra space, but likely only works on 16:9 ratio*/
}

.main-container {
	min-height: 100%;
}

.container {
	padding-bottom: 150px;
	overflow: auto;
}

/* Set black background color, white text and some padding */
.footer {
	position: relative;
	margin-top: -150px;
	padding: 15px;
	height: 150px;
	clear: both;
	background-color: #555;
	color: white;
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

textarea {
	resize: none;
}

.navbar {
	min-height: 80px;

	border-radius: 0;
}
  
.navbar-brand {
	padding: 0 15px;
	height: 80px;
	line-height: 80px;
}
  
.navbar-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 23px;
	padding: 9px 10px !important;
}

#email {
	text-decoration: underline;
	color: white;
}

#email:hover {
	color:#3366BB;
}


#listings-container {
	padding-top: 2em;
	padding-bottom: 2em;
}

.submit-listing-btn {
	width: 50px;
}

.listing-text-input {
	vertical-align: top !important;
	resize: none;
}

.row {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 3em;
	margin-right: 3em;
}

.listing-row:hover {
	background-color: #C0C0C0;
}

.col-md-3, .col-md-6 {
	padding: 20px;
}

.listing-details {
	border: solid;
	border-radius: 10px;
	border-color: gray;
	min-height: 120px;
	padding: 5px;
	text-align: left;
}

.profile-link, .profile-link:hover {
	color: black;
	text-decoration: none;
}

table, img {
	margin: 0 auto;
}

.about-information{
	border-color: black;
	height: auto;
	/* height: 760px; */
	margin-left: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}

	.row.content {
		height: auto;
	}

	.profile-info{
		text-align: center;
	}

	.about-information{
		margin: 0 auto;
	}
}
@media screen and (min-width: 768px) {
	.navbar-nav > li > a {
	  /* (80px - line-height of 27px) / 2 = 26.5px */
	  padding-top: 26.5px;
	  padding-bottom: 26.5px;
	  line-height: 27px;
	}
	
	.listing-text-input {
		width: 568px !important;
	}
}
